{% extends 'base.html' %}
{% block content %}

<h1>Meet the developers</h1>
<hr />
<p>About Jombo Juice: Collect fruits, check their vitamins and make your own juices.
Jombo Juice is developped using Python and Django, with a PostreSQL database, and the design is made using Bootstrap.</p>


<div class="container row-md-6">

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../static/css/assets/anca_agapi.jpeg" class="card-img" alt="anca-agapi">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Anca Agapi</h5>
          <p class="card-text">Full stack developer to be who loves colorful juices and smoothies.</p>
          <p class="card-text">Favorite Juice: Good old orange juice.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../static/css/assets/sonia.png" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sonia Homa</h5>
          <p class="card-text">I am a new Software Engineer and I love dogs.</p>
          <p class="card-text">Favorite Juice: Mango juice mmmmmmmmm</p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../static/css/assets/aurelie.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Aurelie Verrot</h5>
          <p class="card-text">I am a new Software Engineer. That means I don't have a standing desk at home yet. </p>
          <p class="card-text">Favorite Juice: Cherry-Pick (banana, orange, cherry... without Git)</p>
        </div>
      </div>
    </div>
  </div>

</div>




{% endblock %}