{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Fruit Collector!</h1>
    <!-- Juice of the day -->
    <div class="card">
        <img src="../static/css/assets/Image1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Juice of the Day!</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Get Started</a>
        </div>
    </div>


{% endblock content %}

  
