{% extends 'base.html' %}
{% block content %}

<h1>Juices List</h1>


{% for juice in juices %}
  <div class="card">
    <a href="{% url 'juice_detail' juice.id %}">
      <div class="card-content">
        <span class="card-title">{{ juice.name }}</span>
        <p>Description: {{ juice.description }}</p>
        <!-- Loops through fruits and adds them to the card -->
        <ul>Fruits: 
        {% for fruit in juice.fruits.all %}
        <li>
          {{ fruit }}
        </li>
        {% endfor %}
        </ul>
      </div>
    </a>
  </div>
{% endfor %} 

{% endblock %}